.Gesha {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding-top: var(--header-height);
  padding-bottom: calc(4.5rem + max(0.5rem, env(safe-area-inset-bottom)));
}

:root {
  /* Colours */
  --base-color: var(--gesha-base-color, 300);
  --header-bg-a: hsl(var(--base-color), 33%, 40%);
  --header-bg-b: hsl(var(--base-color), 37%, 30%);
  --background-bg-a: hsl(var(--base-color), 10%, 83%);
  --background-bg-b: hsl(var(--base-color), 10%, 75%);
  --navigation-bg: hsl(var(--base-color), 10%, 90%);
  --navigation-fg: hsl(var(--base-color), 10%, 35%);
  --navigation-fg-active: hsl(var(--base-color), 33%, 44%);
  --navigation-link-highlight: hsl(var(--base-color), 10%, 75%, 20%);
  --navigation-border: hsl(var(--base-color), 10%, 70%);
  --background-highlight-bg: hsl(var(--base-color), 10%, 85%);
  --text-primary: hsl(var(--base-color), 4%, 20%);
  --text-secondary: hsl(var(--base-color), 0%, 100%);
  --text-tertiary: hsl(var(--base-color), 10%, 25%);
  --button-color: var(--text-secondary);
  --button-bg-color: hsl(var(--base-color), 33%, 44%);
  --button-bg-image: linear-gradient(
    to bottom,
    hsl(var(--base-color), 10%, 10%, 0%) 0%,
    hsl(var(--base-color), 10%, 10%, 25%) 100%
  );
  --button-bg-color-hover: hsl(var(--base-color), 33%, 50%);
  --button-border: hsl(var(--base-color), 20%, 40%);
  --button-border-hover: hsl(var(--base-color), 20%, 30%);
  --history-item-bg: hsl(var(--base-color), 10%, 70%);
  --history-item-controls-bg: hsl(var(--base-color), 10%, 50%);

  /* Gradients */
  --g-light-to-dark: linear-gradient(
    to bottom,
    hsl(var(--base-color), 10%, 10%, 0%) 0%,
    hsl(var(--base-color), 10%, 10%, 55%) 100%
  );

  /* Spacing sizes */
  --s1\/2: 0.25rem; /* 4px  */
  --s1: 0.5rem; /* 8px  */
  --s2: calc(var(--s1) * 2); /* 16px */
  --s3: calc(var(--s1) * 3); /* 24px */
  --s4: calc(var(--s1) * 4); /* 32px */
  --s5: calc(var(--s1) * 6); /* 48px */
  --s6: calc(var(--s1) * 8); /* 64px */

  --x-bottom: 0.14em;
  --x-top: 0.37em;

  /* Spacing sizes based on the x-height */
  --sxb1: calc(var(--s1) - var(--x-bottom));
  --sxb2: calc(var(--s2) - var(--x-bottom));
  --sxb3: calc(var(--s3) - var(--x-bottom));
  --sxb4: calc(var(--s4) - var(--x-bottom));
  --sxb5: calc(var(--s5) - var(--x-bottom));
  --sxb6: calc(var(--s6) - var(--x-bottom));

  --sxt1: calc(var(--s1) - var(--x-top));
  --sxt2: calc(var(--s2) - var(--x-top));
  --sxt3: calc(var(--s3) - var(--x-top));
  --sxt4: calc(var(--s4) - var(--x-top));
  --sxt5: calc(var(--s5) - var(--x-top));
  --sxt6: calc(var(--s6) - var(--x-top));

  /* Font weights */
  --font-medium: 500;
  --font-bold: 800;
}

@media (prefers-color-scheme: dark) {
  :root {
    --header-bg-a: hsl(var(--base-color), 37%, 40%);
    --header-bg-b: hsl(var(--base-color), 33%, 44%);
    --background-bg-a: hsl(var(--base-color), 4%, 20%);
    --background-bg-b: hsl(var(--base-color), 7%, 21%);
    --navigation-bg: hsl(var(--base-color), 7%, 10%);
    --navigation-fg: hsl(var(--base-color), 37%, 60%);
    --navigation-fg-active: hsl(var(--base-color), 100%, 70%);
    --navigation-border: hsl(var(--base-color), 7%, 30%);
    --background-highlight-bg: hsl(var(--base-color), 4%, 23%);
    --text-primary: hsl(var(--base-color), 44%, 95%);
    --text-secondary: hsl(var(--base-color), 0%, 100%);
    --text-tertiary: hsl(var(--base-color), 0%, 85%);
    --button-bg-color: hsl(var(--base-color), 37%, 40%);
    --button-border: none;
    --button-border-hover: none;
    --history-item-bg: hsl(var(--base-color), 10%, 12%);
  }
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}
input,
button,
textarea,
select {
  font: inherit;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: var(--background-bg-b);
  background-image: linear-gradient(
    to bottom,
    var(--background-bg-a) 0%,
    var(--background-bg-b) 100%
  );
}

body {
  font-family: system-ui, -apple-system, Helvetica, sans-serif;
  color: var(--text-primary);
  height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow: hidden;
}

:root:not(.focus-ring-enabled) *:focus {
  outline: none;
}
