.Gesha {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  padding-top: var(--header-height);
  padding-bottom: calc(4.5rem + max(0.5rem, env(safe-area-inset-bottom)));
}

.Screen {
  display: none;
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  padding: var(--s2);
  min-height: 480px;
  scroll-behavior: smooth;
}

.Screen:target {
  display: flex;
}
