[Unit]
Description=Gesha

[Service]
ExecStart=/opt/gesha/bin/gesha -c /opt/gesha/etc/config.yaml
Environment=RUST_LOG=info
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
