<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="initial-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-title" content="Gesha" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <link rel="apple-touch-icon" href="icons/gesha.svg" />
    <link rel="apple-touch-icon" sizes="256x256" href="icons/gesha@1x.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="icons/gesha@2x.png" />
    <link rel="apple-touch-icon" sizes="768x768" href="icons/gesha@3x.png" />
    <link rel="icon" sizes="256x256" href="icons/gesha@1x.png" />
    <meta name="mobile-web-app-capable" content="yes" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#9d61a9" />
    <title>Gesha</title>
    <link rel="stylesheet" href="main.css" />
		<script type="module">
			globalThis.tr = { "global.on": "{{.GlobalOn}}", "global.off": "{{.GlobalOff}}" }
		</script>
		<script type="module" src="main.js"></script>
  </head>

  <body>
    <header class="Header">
      <h1 class="Header_Heading">Gesha</h1>
    </header>
    <div class="TileContainer">
       <section class="Tile --full">
        <svg class="Chart" id="chart" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 300"></svg>
      </section>
      <section class="Tile">
        <p class="Tile_Title">{{.TemperatureCurrentTitle}}</p>
        <p class="Tile_Value --deg-c" id="temp">0</p>
        <p class="Tile_Subtext">
          <span class="Tile_Subtext_number" id="tempLag">0.00</span>{{.TemperatureSubtextLag}}
        </p>
      </section>
      <section class="Tile">
        <p class="Tile_Title">{{.TemperatureTargetTitle}}</p>
        <input
          type="number"
          pattern="\d*"
          class="Tile_Value --editable"
          id="targetTemp"
          value="100"
        />
        <button class="Tile_Button" id="setTargetTemp">{{.TemperatureTargetButton}}</button>
      </section>
      <section class="Tile">
        <p class="Tile_Title">{{.PidTitle}}</p>
        <p class="Tile_Value" id="pidRunning">{{.GlobalOff}}</p>
        <button class="Tile_Button" id="togglePID">{{.PidButton}}</button>
      </section>
      <section class="Tile">
        <p class="Tile_Title">{{.HeatTitle}}</p>
        <p class="Tile_Value" id="heating">{{.GlobalOff}}</p>
      </section>
    </div>
    <div class="Toast" id="toast"><!-- For pop-up toast message --></div>
  </body>
</html>
