* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  --colorText1: #333;
  --colorText2: #646464;
  --colorText3: #fff;
}

main {
  background-image: linear-gradient(to bottom, #f0eff2, #b6b0bb);
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
}

@supports(padding: max(0px)) {
  main {
    padding-left: max(32px, env(safe-area-inset-left));
    padding-right: max(32px, env(safe-area-inset-right));
    padding-top: 100px;
    padding-bottom: max(32px, env(safe-area-inset-bottom));
  }
}

.Header {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  background-image: linear-gradient(to bottom, #9D61A9, #834294);
  padding-top: max(12px, env(safe-area-inset-top));
  padding-bottom: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.Header_Heading {
  color: var(--colorText3);
  font-size: 24px;
}

.TileContainer {
  display: grid;
  grid-template-areas:
    "a a"
    "b b";
  grid-gap: 10px;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 32px;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .TileContainer {
    grid-template-areas:
    "a a a a"
    "b b b b"
  }
}

.Tile {
  background-color: #D8CEDB80;
  border-radius: 1em;
  box-shadow: 0 0 20px 5px #ACA4AFAA;
  padding-top: 100%;
  position: relative;
  overflow: hidden;
}

.Tile_Title {
  position: absolute;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--colorText2);
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .Tile_Title {
    font-size: 1.2rem;
  }
}

.Tile_Value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--colorText1);
  font-size: 2rem;
}

.Tile_Value.\-\-editable {
  background-color: transparent;
  width: 50%;
  text-align: center;
}

.Tile_Value.\-\-deg-c {
  font-variant-numeric: proportional-nums;
}

.Tile_Value.\-\-deg-c::after {
  content: "° C";
  font-size: 0.7rem;
  color: var(--colorText2);
  white-space: nowrap;
  position: absolute;
  top: 5px;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .Tile_Value {
    font-size: 2.5rem;
  }
}

.Tile.\-\-full {
  grid-area: a;
}

.Tile_Button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: linear-gradient(to bottom, #9D61A9, #834294);
  color: var(--colorText3);
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

@media not all and (hover: none) {
  .Tile_Button {
    font-size: 1.2rem;
    padding: 0.75rem 0;
  }
  .Tile_Button:hover {
    background-image: linear-gradient(to bottom, #834294, #9D61A9);
  }
}

.Tile_Subtext {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.625rem;
  color: var(--colorText2);
  white-space: nowrap;
}

.Toast {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom, #3AA64E, #258D33);
  color: var(--colorText3);
  transition: bottom ease-in-out 150ms;
  font-size: 1rem;
  padding-top: 12px;
  padding-bottom: max(32px, env(safe-area-inset-bottom));
}

.Toast.\-\-error {
  background-image: linear-gradient(to bottom, #a33333, #842929);
}

.Toast:empty {
  bottom: -100%;
}